@font-face {
  font-family: Adigiana;
  src: url("../font/AdigianaUI.ttf");
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: Adigiana;
  font-size: 30px;
  color: #FCAB40;
  text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
  background-image: url("../img/bg/PNG/game_background_4/game_background_4.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
}

canvas {
  background-color: black;
  border-radius: 20px;
}

.dNone {
  display: none !important;
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #55ACEE;
  border: 2px solid #226699;
  color: #FCAB40;
  text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
  font-family: Adigiana;
  font-size: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #226699;
}

.btnSmall {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: #55ACEE;
  border: 2px solid #226699;
  color: #FCAB40;
  text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
  font-family: Adigiana;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSmall img {
  width: 30px;
}

.btnSmall:hover {
  background-color: #226699;
}

.logo {
  width: 200px;
}

.rotateRight {
  transform: rotate(90deg);
  margin-right: 20px;
}

.rotateLeft {
  transform: rotate(270deg);
  margin-right: 20px;
}

.imgSmall {
  height: 30px !important;
  margin-right: unset !important;
}

.game {
  width: 720px;
  height: 480px;
  position: relative;
  display: flex;
  justify-content: center;
}
.game .volumeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.game .volumeIcon img {
  height: 30px;
}
.game .menu {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 720px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.game .menu .score {
  color: #FCAB40;
  text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.startscreen {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-image: url("../img/bg/PNG/game_background_4/game_background_4.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.startscreen .logo {
  width: 400px;
}
.startscreen .gameDescription {
  margin: 40px;
  text-align: center;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.startscreen .gameDescription .howToPlay {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.startscreen .gameDescription .howToPlay div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.startscreen .gameDescription .howToPlay div .btnSmall {
  cursor: unset;
}
.startscreen .gameDescription .howToPlay div .btnSmall:hover {
  background-color: #55ACEE;
}
.startscreen .gameDescription .howToPlay div img {
  height: 50px;
}
.startscreen .startMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.endscreen {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(125, 76, 7, 0.062745098);
}
.endscreen div {
  width: 720px;
  height: 480px;
  background-image: url("../img/logo/logo_clean.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.endscreen div span {
  text-align: center;
  font-size: 150px;
  line-height: 80%;
}
.endscreen div .btn {
  position: absolute;
  bottom: -55px;
  width: unset;
}

.mobileControllerLeft {
  display: none;
  z-index: 10;
  position: absolute;
  left: 5px;
  bottom: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.mobileControllerLeft div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.mobileControllerLeft div .btnSmall img {
  margin-right: unset;
}

.mobileControllerRight {
  display: none;
  z-index: 10;
  position: absolute;
  right: 5px;
  bottom: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.mobileControllerRight .btnSmall img {
  margin-right: unset;
  width: 45px;
}

.copyright {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 10;
  color: #8DCC44;
  text-shadow: -2px 0 #294213, 0 2px #294213, 2px 0 #294213, 0 -2px #294213;
  font-size: 16px;
}
.copyright p {
  margin: 0;
}
.copyright p a {
  text-decoration: none;
  color: #8DCC44;
  text-shadow: -2px 0 #294213, 0 2px #294213, 2px 0 #294213, 0 -2px #294213;
}

.impressum {
  padding: 0px 100px;
  overflow: scroll;
  position: relative;
}
.impressum a {
  color: #FCAB40;
  text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
  text-decoration: none;
}
.impressum .back {
  position: absolute;
  top: 70px;
  right: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.impressum .back img {
  height: 30px;
}

@media (max-width: 500px) {
  body {
    font-size: 21px;
  }
  .startscreen .logo {
    width: 300px;
  }
}
@media only screen and (max-width: 1200px) {
  .mobileControllerLeft {
    display: flex;
  }
  .mobileControllerRight {
    display: flex;
  }
  .menu {
    justify-content: center !important;
  }
  .copyright {
    right: unset;
  }
}
@media only screen and (max-width: 720px) {
  .game {
    width: 100%;
  }
  .game canvas {
    width: 100%;
  }
  .game .menu {
    width: 100%;
  }
  .endscreen div {
    width: 100%;
  }
}
@media only screen and (max-height: 620px) {
  .logo {
    display: none;
  }
  .copyright {
    bottom: unset;
    top: 0;
    z-index: -1;
  }
}
@media only screen and (max-height: 480px) {
  .game {
    height: 100vh;
  }
  .game canvas {
    height: 100vh;
  }
  .endscreen div {
    height: 100vh;
  }
  .endscreen div .btn {
    bottom: 5px;
  }
}/*# sourceMappingURL=style.css.map */