body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/bg/PNG/game_background_4/layers/battleground.png');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
}