@font-face {
    font-family: Adigiana;
    src: url('../font/AdigianaUI.ttf');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: Adigiana;
    font-size: 30px;
    color: #FCAB40;
    text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
    background-image: url('../img/bg/PNG/game_background_4/game_background_4.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

canvas {
    background-color: black;
    border-radius: 20px;
    // display: block;
    // box-shadow: 5px 5px 10px 5px #66462D, -9px 5px 10px 5px #66462D, -7px -5px 10px 5px #66462D, 12px -5px 10px 5px #66462D, 12px 10px 10px 7px #7D4B07, -10px 10px 10px 7px #7D4B07, -10px -7px 15px 1px #7D4B07, 10px 10px 5px 5px rgba(252, 171, 64, 0);
}

.dNone {
    display: none !important;
}

.btn {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #55ACEE;
    border: 2px solid #226699;
    color: #FCAB40;
    text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
    font-family: Adigiana;
    font-size: 30px;
    cursor: pointer;
}

.btn:hover {
    background-color: #226699;
}

.btnSmall {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: #55ACEE;
    border: 2px solid #226699;
    color: #FCAB40;
    text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
    font-family: Adigiana;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSmall img {
    width: 30px;
}

.btnSmall:hover {
    background-color: #226699;
}

.logo {
    width: 200px;
}

.rotateRight {
    transform: rotate(90deg);
    margin-right: 20px;
}

.rotateLeft {
    transform: rotate(270deg);
    margin-right: 20px;
}

.imgSmall {
    height: 30px !important;
    margin-right: unset !important;
}

.game {
    width: 720px;
    height: 480px;
    position: relative;
    display: flex;
    justify-content: center;
    .menu {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 720px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .score {
            color: #FCAB40;
            text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
            width: 45%;
            display: flex;
            justify-content: space-between;
        }
    }
}

.startscreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-image: url('../img/bg/PNG/game_background_4/game_background_4.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
        width: 400px;
    }
    .gameDescription {
        margin: 40px;
        text-align: center;
        min-height: 200px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        .howToPlay {
            display: flex;
            flex-direction: column;
            gap: 30px;
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
            }
            div img {
                height: 50px;
            }
        }
    }
    .startMenu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

.endscreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7d4c0710;
    div {
        width: 720px;
        height: 480px;
        background-image: url('../img/logo/logo_clean.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        span {
            text-align: center;
            font-size: 150px;
            line-height: 80%;
        }
        .btn {
            position: absolute;
            bottom: -55px;
            width: unset;
        }
    }
}

.mobileControllerLeft {
    display: none;
    z-index: 10;
    position: absolute;
    left: 5px;
    bottom: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    div {
        display: flex;
        flex-direction: row;
        gap: 30px;
        .btnSmall img {
            margin-right: unset;
        }
    }
}

.mobileControllerRight {
    display: none;
    z-index: 10;
    position: absolute;
    right: 5px;
    bottom: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .btnSmall img {
        margin-right: unset;
        width: 45px;
    }
}

// Responsive
@media (max-width: 500px) {
    body {
        font-size: 21px;
    }
    .startscreen {
        .logo {
            width: 300px;
        }
    }
}

// Smartphone
@media only screen and (max-width:1200px) {
    .mobileControllerLeft {
        display: flex;
    }
    .mobileControllerRight {
        display: flex;
    }
    .menu {
        justify-content: center !important;
    }
}

@media only screen and (max-width:720px) {
    .game {
        width: 100%;
        canvas {
            width: 100%;
        }
        .menu {
            width: 100%;
        }
    }
    .endscreen {
        div {
            width: 100%;
        }
    }
}

@media only screen and (max-height:620px) {
    .logo {
        display: none;
    }
}

@media only screen and (max-height:480px) {
    .game {
        height: 100vh;
        canvas {
            height: 100vh;
        }
    }
    .endscreen {
        div {
            height: 100vh;
            .btn {
                bottom: 5px;
            }
        }
    }
}